.track-player-container {
  position: absolute;
  bottom: 2.5rem;
  max-height: 75px;
}

.track-infos-container {
  max-width: 80%;
}


.listening-device-source-container {
  color: rgb(30, 215, 96) !important;
}
.listening-device-source {
  font-size: 0.8125rem;
}

.tracks-infos-separator {
  font-size: 0.2rem !important;
  height: 2px !important;
}

.buttons-player-container {
  width: 20%;
}

.button-player {
  background-color: transparent;
}

.button-trackLiked:focus {
  box-shadow: none;
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .track-player-container {
    bottom: 3%;
  }
  .track-infos-container {
    width: 100% !important;
  }

  .track-player-container {
    position: inherit;
    background-color: #000000 !important;
  }

  .trackTitle-container {
    overflow-x: hidden !important;
  }

  .listening-device-source-container {
    background-color: rgb(30, 215, 96) !important;
    display: flex;
    justify-content: end;
    /* background-color: rgb(31, 223, 100) !important; */
  }
  .listening-device-source {
    display: flex;
    align-items: center;

    color: black !important;
  }

  .buttons-player-container {
    width: 100%;
  }
}
