.albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: green;
    justify-content: center;
}

/* Cards container*/
.albumsBis .p-grid {
    width: 80%;
    margin-top: 2rem ;
    margin-left: auto;
    margin-right: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px 50px; 
}

/* Paginator container */
.p-paginator {
    margin-top: 2rem;
    display: flex;
    justify-content: center
}
